---
const siteDomein = "https://toriyafukubee.com/system_panel/uploads/images/";
---
<div class="footer">
    <div class="sectionBg">
        <div class="sectionBgImg">
            <img src={siteDomein + '20240523231235926181.png'} alt="背景用の画像" width="1440" height="650" class="img" />
        </div>
        <div class="sectionInr">
            <img src={siteDomein + '20240523231235909039.png'} alt="装飾用の画像" width="312" height="200" class="pcImg accessBackImg" />
            <div class="flex">
                <div class="accessMap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.0080823804856!2d134.6847362523108!3d34.83088930649947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3554e1e61a9f1b6d%3A0xb2860cc9bbdb7999!2z5aSn6KGG6YWS5aC0IOm2j-WutiDjgbXjgY_jgbnjgYc!5e0!3m2!1sja!2sjp!4v1736476192167!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="accessInfo">
                    <img src={siteDomein + '20240524164021161672.png'} alt="大衆酒場鶏家ふくべぇ" width="407" height="41" class="accessInfoLogo" />
                    <div class="accessInfoItem">
                        <p class="txt accessInfoItemHead">住所
                        </p>
                        <p class="txt">〒670-0903 兵庫県姫路市立町72
                            <br>第9クリスタルビル 1F
                        </p>
                    </div>
                    <div class="accessInfoItem">
                        <p class="txt accessInfoItemHead">アクセス
                        </p>
                        <p class="txt">JR姫路駅から徒歩6分</p>
                    </div>
                    <div class="accessInfoItem">
                        <p class="txt accessInfoItemHead">営業時間
                        </p>
                        <div class="wrapTxt">
                            <p class="boldTxt">17:00～翌0:00</p>
                            <p class="txt">料理L.O. 23:00 ドリンクL.O. 23:30</p>
                            <p class="boldTxt">金・土: 17:00～翌2:00</p>
                            <p class="txt">料理L.O. 1:00 ドリンクL.O. 1:30</p>
                        </div>
                    </div>
                    <div class="accessInfoItem">
                        <p class="txt accessInfoItemHead">キャッシュレス
                        </p>
                        <p class="txt">クレカ可、電子マネー可
                        </p>
                    </div>
                    <div class="accessInfoItem">
                        <p class="txt accessInfoItemHead">定休日
                        </p>
                        <p class="txt">月曜日
                        </p>
                    </div>
                    <a href="./shop" class="normalBtn">
                        <p class="normalBtnTxt">店舗情報
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="commonFooter sectionBg">
        <div class="sectionBgImg">
            <img src={siteDomein + '20240523231235744651.png'} alt="背景用の画像" width="1440" height="452" class="img" />
        </div>
        <div class="sectionInr">
            <div class="sectionHead">
                <h2 class="sectionTtl">
                    <img src={siteDomein + '20240525130327818320.png'} alt="お問い合わせ" width="394" height="69" class="img" />
                </h2>
                <p class="sectionHeadDesc">Contact
                </p>
            </div>
            <p class="txt">
                お問い合わせはお電話、
                <br/> またはお問い合わせフォームから<br class="tabHidden">お願いいたします。
            </p>
            <div class="normalBtnArea">
                <a href="tel:0792587109" class="telLink link"><img src={siteDomein + '20240523225444656018.png'} alt="電話アイコン画像" width="24" height="24" class="img" />
                    <p class="telLinkTxt">079-258-7109
                    </p>
                </a>
                <a href="#" class="normalBtn contactBtn"><img src={siteDomein + '20240524234635155336.png'} alt="メールアイコン画像" width="24" height="24" class="img" /><img src={siteDomein + '20240530133621279417.png'}
                        alt="メールアイコン画像" width="24" height="24" class="hoverImg" />
                    <p class="normalBtnTxt">お問い合わせフォーム
                    </p>
                </a>
            </div>
        </div>
    </div>
    <footer class="footerRow">
        <div class="footerInfo">
            <div class="footerLogo">
                <img src={siteDomein + '20240523225418692309.png'} alt="大衆酒場鶏家" width="147" height="147" class="img" />
            </div>
            <div class="footerAddress">
                <p class="txt">兵庫県姫路市立町72 第9クリスタルビル 1F
                </p>
                <a href="tel:0792587109" class="footerAddressLink">
                    <p class="txt">Tel:079-258-7109
                    </p>
                </a>
            </div>
        </div>
        <div class="footerLink">
            <a href="/" class="navLink">
                <p class="navLinkTxt">ホーム
                </p>
            </a>
            <a href="/commitment" class="navLink">
                <p class="navLinkTxt">こだわり
                </p>
            </a>
            <a href="/cooking" class="navLink">
                <p class="navLinkTxt">料理
                </p>
            </a>
            <a href="/drink" class="navLink">
                <p class="navLinkTxt">ドリンク
                </p>
            </a>
            <a href="/recruit" class="navLink">
                <p class="navLinkTxt">求人情報
                </p>
            </a>
            <a href="/shop" class="navLink">
                <p class="navLinkTxt">店舗情報
                </p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkTxt">新着情報
                </p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkTxt">お問い合わせ
                </p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkTxt">プライバシーポリシー
                </p>
            </a>
        </div>
    </footer>
    <div class="footerCopy">
        <p class="txt">&copy; 2024 大衆酒場鶏家ふくべぇ
        </p>
        <div id="pageTopBtnLink" class="pageTopBtn">
            <a href="/" class="pageTopBtnLink">
            </a>
        </div>
    </div>
</div>