---
const siteDomein = "https://toriyafukubee.com/system_panel/uploads/images/";
---
<header id="jsHeader" class="header">
    <div class="headerInr">
        <a href="./" class="logo"><img src={siteDomein + '20240523225418692309.png'} alt="大衆酒場鶏家ふくべぇ ロゴ画像" width="170" height="170" class="logoImg" /></a>
        <nav class="headerNav">
            <a href="./" class="navLink">
                <p class="navLinkEn">Home
                </p>
                <p class="navLinkTxt">ホーム
                </p>
            </a>
            <a href="./commitment" class="navLink">
                <p class="navLinkEn">Commitment
                </p>
                <p class="navLinkTxt">こだわり
                </p>
            </a>
            <a href="./cooking" class="navLink">
                <p class="navLinkEn">Cooking
                </p>
                <p class="navLinkTxt">料理
                </p>
            </a>
            <a href="./drink" class="navLink">
                <p class="navLinkEn">Drink
                </p>
                <p class="navLinkTxt">ドリンク
                </p>
            </a>
            <a href="./recruit" class="navLink">
                <p class="navLinkEn">Recruit
                </p>
                <p class="navLinkTxt">求人情報
                </p>
            </a>
            <a href="./shop" class="navLink">
                <p class="navLinkEn">Shop
                </p>
                <p class="navLinkTxt">店舗情報
                </p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkEn">News
                </p>
                <p class="navLinkTxt">新着情報
                </p>
            </a>
            <a href="#" target="_blank" rel="noopener" class="icon link"><img src={siteDomein + '20240523225444683858.png'} alt="Instagramアイコン画像" width="24" height="24" class="icon" /></a>
            <a href="tel:0792587109" class="telLink link"><img src={siteDomein + '20240523225444656018.png'} alt="電話アイコン画像" width="24" height="24" class="img" />
                <p class="telLinkTxt">079-258-7109
                </p>
            </a>
        </nav>
    </div>
    <div class="hamburger">
        <p class="span">
        </p>
        <p class="span">
        </p>
        <p class="span">
        </p>
    </div>
    <div class="globalMenuSp">
        <nav class="hUl">
            <div class="hamburgerList">
                <a href="./" class="navLink">
                    <p class="navLinkTxt">ホーム
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./commitment" class="navLink">
                    <p class="navLinkTxt">こだわり
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./cooking" class="navLink">
                    <p class="navLinkTxt">料理
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./drink" class="navLink">
                    <p class="navLinkTxt">ドリンク
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./recruit" class="navLink">
                    <p class="navLinkTxt">求人情報
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./shop" class="navLink">
                    <p class="navLinkTxt">店舗情報
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="#" class="navLink">
                    <p class="navLinkTxt">新着情報
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="tel:0792587109" class="telLink navLink"><img src={siteDomein + '20240523225444656018.png'} alt="電話アイコン画像" width="24" height="24" class="img" />
                    <p class="telLinkTxt">079-258-7109
                    </p>
                </a>
            </div>
        </nav>
    </div>
</header>